body {
  background-color: salmon;
  height: 900px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

button {
  height: 50px;
  width: 150px;
  background-color: lemonchiffon;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20pt;
}

input {
  height: 40px;
  width: 100px;
  margin: 50px;
}

#feedback {
  color: red;
  font-size: 20pt;
  margin: 50pt;
}

#counter {
  color: yellow;
  font-size: 20pt;
  margin: 50pt;
}
